*~
COPYING
INSTALL
Makefile
Makefile.in
ac_config.h
ac_config.h.in
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
test/.deps/
test/Makefile
test/Makefile.in
test/correctness
test/correctness.o
test/performance
test/performance.o
